<ng-container *ngIf="productData">
    <!-- <mat-card class="tech-card mat-elevation-z2"> -->
    <mat-card class="tech-card mat-elevation-z2" [ngClass]="{'mat-elevation-z15': isSelected, 'selected-card': isSelected }">
        <div #techCard class="tech-card__container" fxLayoutGap="10px" fxLayoutAlign="center" fxFlexAlign="center">
            <figure class="tech-card__container__logo" fxFlexAlign="center" fxFlex="1 1 45px">
                <img fxFlex="100%" src="{{productData.logo}}" alt="">
            </figure>
            <p class="tech-card__container__name" fxFlexAlign="center">
                {{productData.name}}
            </p>
        </div>
        <mat-card-content class="tech-card__content">
            <p class="tech-card__content__description">{{productData.description}}</p>
            <p class="tech-card__content__company"><strong>Compañía: </strong>{{productData.company.displayName}}</p>
            <p><strong>URL: </strong><a href="{{productData.url}}" target="_blank">{{productData.url}}</a></p>
            <p class="tech-card__content__position"><strong>Cargo: </strong>{{productData.position}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <div class="tech-card__footer" fxLayoutAlign="space-between" fxFlexAlign="center">
            <strong fxFlex="25%">Stack: </strong>
            <div fxFlex="75%" fxLayout="row wrap" fxLayoutGap="3px" fxLayoutAlign="end" fxFlexAlign="center">
                <ng-container *ngIf="productData.stack != []">
                    <img *ngFor="let item of productData.stack" src="{{item.logo}}" alt="{{item.name}}">
                </ng-container>
            </div>
        </div>
    </mat-card>
</ng-container>