<ng-container *ngIf="techCardData">
    <!-- <mat-card class="tech-card mat-elevation-z2"> -->
    <mat-card class="tech-card mat-elevation-z2" [ngClass]="{'mat-elevation-z10': isSelected }">
        <div  #techCard class="tech-card__container" fxLayoutGap="10px"  fxLayoutAlign="center" fxFlexAlign="center">
            <figure  class="tech-card__container__logo" fxFlexAlign="center" fxFlex="1 1 40px">
                <img fxFlex="100%" src="{{techCardData.logo}}" alt="">
            </figure>
            <p class="tech-card__container__name" fxFlexAlign="center">
                {{techCardData.name}}
            </p>
        </div>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</ng-container>