<section class="home-header">
    <figure class="home-header__avatar animated fade-in fast">
        <img src="assets/imgs/me.jpeg" alt="">
        <div class="home-header__avatar__shadow"></div>
    </figure>
    <h1 class="home-header__main-title animated fade-in fast">Jose Montes Ricardo</h1>
    <h2 class="home-header__features animated fade-in fast">Ingeniero De Sistemas</h2>
    <h2 class="home-header__features animated fade-in fast">Desarrollador Full Stack en <a href="https://web.segurosfalabella.com/co/" target="_blank">Seguros Falabella</a></h2>
    <h2 class="home-header__features animated fade-in fast">Organizador de <a href="https://www.meetup.com/es/monteriajs/members/?op=leaders" target="_blank">MonteríaJS</a></h2>
</section>