/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('./assets/fonts/pfbeausanspro-regular-webfont.eot');
    src: url('./assets/fonts/pfbeausanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/pfbeausanspro-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/pfbeausanspro-regular-webfont.woff') format('woff'),
         url('./assets/fonts/pfbeausanspro-regular-webfont.ttf') format('truetype'),
         url('./assets/fonts/pfbeausanspro-regular-webfont.svg#pf_beausans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'pf_beausans_proregular'
);

@include angular-material-typography($custom-typography);

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* animations */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
}
